<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="headshot-background">
    <header class="pure-g" style="margin: 5px">
      <div class="pure-u-5-24 flex"></div>
      <div class="pure-u-1-24 flex name text-uppercase">C</div>
      <div class="pure-u-1-24 flex name text-uppercase">h</div>
      <div class="pure-u-1-24 flex name text-uppercase">r</div>
      <div class="pure-u-1-24 flex name text-uppercase">i</div>
      <div class="pure-u-1-24 flex name text-uppercase">s</div>
      <div class="pure-u-1-24 flex name text-uppercase">t</div>
      <div class="pure-u-1-24 flex name text-uppercase">a</div>
      <div class="pure-u-1-24 flex name text-uppercase"></div>
      <div class="pure-u-1-24 flex name text-uppercase">E</div>
      <div class="pure-u-1-24 flex name text-uppercase">l</div>
      <div class="pure-u-1-24 flex name text-uppercase">l</div>
      <div class="pure-u-1-24 flex name text-uppercase">i</div>
      <div class="pure-u-1-24 flex name text-uppercase">o</div>
      <div class="pure-u-1-24 flex name text-uppercase">t</div>
      <div class="pure-u-1-24 flex name text-uppercase">t</div>
      <div class="pure-u-4-24 flex"></div>
    </header>
    <main>
      <section class="pure-g" >
        <div class="pure-u-1-2">
          <div>
            <button class="pure-button">
              <div class="play"></div>
            </button>
            <button class="pure-button">
              <div class="pause"></div>
            </button>
            <div style="margin: 15px 0; height: 36px; width: 100%; background: #bbb;"></div>
          </div>
          <div style="margin: 15px 0; height: 36px; width: 100%; background: #bbb;"></div>
          <div style="margin: 15px 0; height: 36px; width: 100%; background: #bbb;"></div>
          <button class="pure-button text-uppercase" style="background-color: pink; color: white;">Contact Me</button>
        </div>
        <div class="pure-u-1-2"></div>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
